.main
  .top_contents
    .top_contents__header
      .top_contents__header__title
        ユーザー登録して早速初めてみよう。
    .top_contents__main
      .top_contents__main__text
      .top-img1
        = image_tag 'taskwith1.png', width: "200"
      .top-img2 
        = image_tag 'taskwith3.png', width: "200"
      .top_contents__main
      .top-img3
        = image_tag 'taskwith2.png'
    .top_contents__footer