.main__ranking {
  width: 100%;
}
.ranking_table {
  padding-top: 100px;
}
table {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  border: solid １px #b6b6a6;
}

table th{
  padding: 5px;
  border: solid  1px #b6b6a6;
  background: #f1f1f1;
  color: #b6b6a6;
}

table td {
  padding: 7px;
  border: solid 1px #b6b6a6;
  color: #999999;
  background: #f1f1f1;
}