.wrapper
  = render "top/side_bar"
  .main__room
    .container
      %h1.heading Room example
      %p.note
        - if @peer
          %p{ id: "peer-id" }
            = @peer.peer
        -else
          %p{ id: "my-id" }
        %div
          %video{ id: "js-local-stream", width: "200px", autoplay: "", muted: "", playsinline: ""  }
          %span{ id: "js-room-mode" }
          %input{ id: "js-room-id", type: "text", value: "#{@room.name}" }
          %button{ id: "js-join-trigger" } Join
          %button{ id: "js-leave-trigger" } Leave

        .remote-streams{ id: "js-remote-streams" }

        %div
          %pre.messages{ id: "js-messages" }
          %input{ id: "js-local-text", type: "text" }
          %button{ id: "js-send-trigger" } Send
        %p.meta{ id: "js-meta" }
= javascript_include_tag 'room.js'